.dog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dog-image {
  width: 170px;
  height: 140px;
}

.meme-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.meme-image {
  width: 90px;
  height: 65px;
}

select {
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: lightblue;
}

table {
  width: 80%;
  margin-bottom: 60px;
}
